header {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffe4c4;
}

button {
    height: 50px;
    width: 300px;
    background-color: lightsalmon;
    border-color: black;
    border-width: 3px;
    border-radius: 7px;

    font-size: larger;

    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}

button:hover{
    background-color: lightsalmon;
    height: 55px;
    width: 302px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    box-sizing: border-box;
    border: 4px solid black;
    border-radius: 10px;
    height: 500px;
    width: 500px;

    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

footer {
    
    font-size: 50px;
    text-align: center; 

    display: flex;
    justify-content: center;
    align-content: center;

    width: 100%;
    margin-top: 10px;
}

button, footer {

    font-family: courier;
    font-weight: bold;
}